$primario: #0b5ed7;
$secundario: #eee;
$terciario: #212529;

$colores:(
    primario: #0b5ed7,
    secundario: #eee,
    terciario: #212529
);

//MAPGET

$gotopmap: (
    fondo: $primario,
    ancho: 50px,
    borde: 10px solid $primario,
    radio: 50px,
    posicion: fixed,
    abajo: 30px,
    derecha: 30px,
);

.gotop {
    background-color: map-get($gotopmap, fondo);
    width: map-get($gotopmap, ancho);
    border: map-get($gotopmap, borde);
    border-radius: map-get($gotopmap, radio);
    position: map-get($gotopmap, posicion);
    bottom: map-get($gotopmap, abajo);
    right: map-get($gotopmap, derecha);
}

// EACH

@each $puesto , $color in $colores {
    .boton-#{$puesto}{
        background-color: $color;
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: Lato-Black;
        &:hover{
            background-color: $terciario;
            color: white;
        }
    }
}


// EXTEND

.cuarto-boton{
    @extend .boton-primario;
    font-family: Lato-Bold;
}

