* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}

.gotop {
  background-color: #0b5ed7;
  width: 50px;
  border: 10px solid #0b5ed7;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.boton-primario, .cuarto-boton {
  background-color: #0b5ed7;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.boton-primario:hover, .cuarto-boton:hover {
  background-color: #212529;
}

.boton-secundario {
  background-color: #eee;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.boton-secundario:hover {
  background-color: #212529;
}

.boton-terciario {
  background-color: #212529;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.boton-terciario:hover {
  background-color: #212529;
}

.tarjeta-personalizada {
  border: solid 1px black;
  text-align: center;
  text-decoration: none;
}

.cuarto-boton {
  font-weight: bolder;
  text-decoration: underline;
}

.lead-2 {
  font-size: 15px;
  text-decoration: none;
  color: #212529;
}

a {
  text-decoration: none;
}

.nav-logo {
  width: 25%;
  max-width: 150px;
  padding: 20px 10px;
}

.navbar-nav, .mr-auto {
  flex: 1;
  justify-content: end;
}

.nav-link:hover {
  border-bottom: solid 1px white;
  font-weight: bold;
  color: white;
}

@media (max-width: 1200px) {
  .contenedor-header {
    min-height: 500px;
  }
}
header {
  background-color: #eee;
}
header .lead {
  font-size: 20px;
}

.side-social {
  width: 80px;
  position: fixed;
  top: 35%;
  right: -65px;
  background-color: #212529;
  padding: 10px 3px;
  transition: 0.7s;
  border-radius: 10px 0px 0px 10px;
}
.side-social:hover {
  right: 0px;
}
.side-social img {
  padding: 3px 0px;
  width: 50px;
}

.bloque-presentacion-izquierda {
  background-color: #0b5ed7;
  height: 80px;
}

@media (min-width: 1200px) {
  .bloque-presentacion-izquierda {
    min-height: 500px;
    height: auto;
    background-color: #0b5ed7;
  }
}
.bloque-presentacion-derecha {
  min-height: 500px;
  padding: 25px;
  text-align: center;
}

.contenedor-de-servicios {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 760px) {
  .card-text {
    height: 150px;
  }
}
.iniciar-sesion-contenedor {
  padding-top: 70px;
  min-height: 500px;
}

.iniciar-sesion {
  padding: 25px;
  background-color: #eee;
}

.contacto {
  padding-top: 70px;
  min-height: 500px;
  background-color: #eee;
}

.newsletter {
  padding-top: 30px;
  background-color: #eee;
}

.card {
  padding-bottom: 50px;
}
.card h5 {
  border-top: solid 1px gray;
  padding-top: 15px;
  opacity: 0.7;
}

.footer-entero {
  height: 100px;
  background-color: #212529;
  color: white;
  padding: 25px;
}
.footer-entero .lead {
  font-size: 14px;
}
.footer-entero .lead .link-footer {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.redes {
  max-width: 25px;
  max-height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  --bs-gutter-x: 0px;
}

.card-img-top {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  padding-bottom: 20px;
}

.active {
  font-weight: bolder;
}

.form-control {
  border: 0px;
  border-bottom: 1px solid black;
  background-color: transparent;
  border-radius: 0;
}

.form-select {
  border: 0px;
  border-bottom: 1px solid black;
  background-color: transparent;
  border-radius: 0;
}/*# sourceMappingURL=style.css.map */